<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.user.first_name + " " + comment.user.last_name%>:</strong>
          <%= comment.content %><br>
          <% if comment.user == current_user %>
            <a href="/posts/<%= comment.post.id %>/comments/<%=comment.id %>/delete"> Delete Comment</a>
          <% end %>
        </p>
      </div>
    </div>


  </article>

</div>
