<ul>
  <% if @users.any? || @clubs.any? || @tournaments.any?  %>
    <% if @users.any? %>
      <h3>Players Found:</h3>
      <% @users.each do |user| %>
        <li><%= link_to "#{ user.first_name } #{ user.last_name }", user_path(user) %></li>
      <% end %>
    <% end %>

    <% if @clubs.any? %>
      <h3>Clubs Found:</h3>
      <% @clubs.each do |club| %>
        <li><%= link_to "#{ club.name }", club_path(club) %></li>
      <% end %>
    <% end %>

    <% if @tournaments.any?%>
      <h3>Tournaments Found:</h3>
      <% @tournaments.each do |tournament| %>
        <li><%= link_to "#{ tournament.name } #{ tournament }", tournament_path(tournament) %></li>
      <% end %>
    <% end %>
  <% else %>
    <p>Sorry! No results were found!</p>
  <% end %>
</ul>
