<h3>Search Results:</h3>
<% if @results  %>
  <% @results.each do |result| %>
    <%= link_to "#{ result.first_name } #{ result.last_name }", user_path(result) %>
  <% end %>
<% else %>
  <p>Sorry! No results were found!</p>
<% end %>
