/* line 1, /Users/austinburke/Development/Personal/pickle-ball/app/assets/stylesheets/typewriter.scss */
.typewriter {
  font-family: Courier, monospace;
  display: inline-block;
}

/* line 6, /Users/austinburke/Development/Personal/pickle-ball/app/assets/stylesheets/typewriter.scss */
.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(30, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid black;
  box-sizing: border-box;
}

/* line 18, /Users/austinburke/Development/Personal/pickle-ball/app/assets/stylesheets/typewriter.scss */
.typewriter-textsmall {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 1px;
  animation: typing 2s steps(30, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  border-right: 4px solid black;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
