<h1>Resources/About</h1>

<div class="card">
  <div class="card-body">
    → This website's purpose is to bring communication closer to the forefront of Pickleball. This website should
    hopefully serve as a resources to players, tournament directors, and others.
    This website is a variety of things, amongst which are:
    <ul>
      <li>Tournament Directors can gauge interest in a particular tournament, venue, event setup by creating a tournament page.
      <b>NOTE: there is no functionality to sign-up/register for a tournament - this is purely to raise awareness, voice concerns, provide updates and feedback on tournaments.</b></li>
      <li>Tournament Directors can list the price, events, sanctioning status or other information they would like player's to know
      about <i>prior</i> to ever creating the tournament elsewhere. Players may then provide feedback, suggestions, and more regarding
      the proposed tournament set-up, allowing a tournament director to adjust as necessary for demand/interest.</li>
      <li>Player's can create Posts in a centralized location about Pickleball related topics (equipment, tournaments, etc.).</li>
      <li>Player's can create Clubs and provide updates to members within those clubs.</li>
      <li>The club admin can post meeting dates/times within a club.</li>
      <li>The club admin can transfer admin status to another player within a club</li>
      <li>Player's can search for: other players, tournaments, and clubs by name, state, or city.</li>
      <li>Player's can search for tournaments and clubs within their city by clicking Tournaments/Clubs '...Near Me' in the menu drop-down</li>
    </ul>
    → If you are looking to create a tournament: <a href="https://www.pickleballtournaments.com/pbt_main.pl" target="_blank">Pickleballtournaments.com</a><br>
    → <a href="https://www.usapa.org/what-is-pickleball/" target="_blank">What is Pickleball?</a><br>
    → <a href="https://www.usapa.org/ifp-official-rules/" target="_blank">USAPA/IFP Pickleball Rules</a><br>
    → <a href="https://www.memberleap.com/members/mlogin.php?org_id=PCKL" target="_blank">USAPA Member Login Page</a>
    <br>
    <br>
    <h4>What are picklepoints?</h4>
    → Picklepoints is a measure of your interaction on this site. It's simple, the more you help others and add to the community the more points you get.
    → How many points do I get for commenting on a post or within a tournament? Good question:
    <ul>
      <li>Comments: <b>+2</b> PicklePoints</li>
      <li>Posts: <b>+4</b> PicklePoints</li>
      <li>Likes: <b>+1</b> PicklePoint</li>
      <li>Each Club Joined: <b>+3</b> PicklePoints</li>
    </ul>
    → There is a lot more planned for the website and I would love feedback. If you have feature suggestions, discover bugs/errors, or just have questions or concerns,
    please... <a href = "mailto: pickleballsocial@gmail.com">Send me an Email!</a>
  </div>
</div>