.mt-2 {
  margin-top: 80px;
}

h1 {
  text-align: center;
}

.card {
  flex: none !important;
}

.card-body {
  flex: none !important;
}

.center {
  margin: 0px auto;
}

img.resize {
  width: 30px; /* you can use % */
  height: auto;
}

#tournament_description {
  word-wrap: break-word;
}

.tournament_labels {
  font-size: 16px;
}

.profile_category {
  font-size: 16px;
  color: red;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-image-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: right;
  float: right;
  margin-left: 25px;
}

.tournament-director {
  box-shadow: 0px 0px 25px gold;
}

.club-director {
  box-shadow: 0px 0px 25px blue;
}

.profile-image-small-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.post {
  background-color: red;
  color: white;
}

.tournament {
  background-color: gold;
  color: black;
}

.club {
  background-color: blue;
  color: white;
}

@media (max-width: 413px) {
  .home-title {
    font-size: 28px;
  }
}
