.mt-2 {
  margin-top: 80px;
}

body {
  background-color: #91b3bc;
}

h1 {
  text-align: center;
}

.card {
  flex: none !important;
}

.card-body {
  flex: none !important;
  background-color: #ebeced;
}

.landing-page {
  background: transparent !important;
  color: #011627;
}

.card-title {
  color: #011627 !important;
}

.center {
  margin: 0px auto;
}

img.resize {
  width: 30px; /* you can use % */
  height: auto;
}

#tournament_description {
  word-wrap: break-word;
  font-size: 100%;
}

.tournament_labels {
  font-size: 16px;
}

.profile_category {
  font-size: 16px;
  color: #e71d36;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-image-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: right;
  float: right;
  margin-left: 25px;
}

.tournament-director {
  /* box-shadow: 0px 0px 25px gold; */
  border: 3px solid gold;
}

.club-director {
  /* box-shadow: 0px 0px 25px blue; */
  border: 3px solid blue;
}

.profile-image-small-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.post {
  background-color: red;
  color: #ebeced;
}

.tournament {
  background-color: gold;
  color: black;
}

.club {
  background-color: blue;
  color: white;
}

@media (max-width: 413px) {
  .home-title {
    font-size: 28px;
  }
}

.navbar,
.nav-item {
  background-color: #011627 !important;
}

.nav-link.focus,
.nav-link:hover,
.btn:hover {
  background-color: #ebeced !important;
  color: #011627 !important;
}

.navbar-brand,
.nav-link {
  color: #ebeced !important;
}

.home-tab-title {
  color: #011627 !important;
  font-weight: bold !important;
}

a {
  color: #e71d36 !important;
}

.badge-pill {
  background-color: #011627 !important;
}

.card {
  border-color: #e71d36;
  border-width: 2px;
}

.btn-sm {
  border-color: #011627 !important;
  border-width: 2px !important;
}

.search-btn {
  border-color: #ebeced !important;
  border-width: 1px !important;
}

.btn-sm:hover,
.search-btn {
  background-color: #e71d36 !important;
  color: #ebeced !important;
}

hr {
  border-color: #011627 !important;
  border-width: 2px !important;
}

.time-ago-card {
  color: #011627 !important;
}

.form-control:focus {
  background-color: #ebeced !important;
  color: #011627 !important;
  border-color: #ebeced !important;
}

.btn-cancel {
  background-color: #011627 !important;
  border-color: #e71d36 !important;
  border-width: 2px !important;
  color: #ebeced !important;
}

.btn-cancel:hover {
  background-color: #ebeced !important;
  color: #011627 !important;
}

.btn-submit-form {
  background-color: #2ec4b6 !important;
  border-color: #011627 !important;
  border-width: 2px !important;
}

.wrapper {
  text-align: center;
}
.post-header {
  background-color: #ebeced;
  color: #011627;
  /* margin-top: 2.5%; */
  margin-top: 5%;
  padding: 15px 35px 0px 35px;
  border-radius: 25px;
  display: inline-block;
}

/* NEW CSS FOR LANDING PAGE */

html,
body {
  height: 100%;
}

.title {
  color: #ebeced;
}

.skewed-bg {
  background: #011627;
  padding: 100px 0;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: 50px;
}
.skewed-bg .content {
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  text-align: left;
}
.skewed-bg .content .title {
  padding-top: 0;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ebeced;
}

.footer {
  padding-top: 300px;
}
.footer .credits {
  text-align: center;
  color: #ebeced;
}
.footer .credits .link {
  color: #011627;
  text-decoration: none;
}

.btn-landing-page {
  background-color: #011627;
  color: #ebeced !important;
}

.btn-landing-page:hover {
  background-color: #ebeced !important;
  color: #011627 !important;
  border-color: #011627;
}

.button {
  border-radius: 4px;
  background-color: #011627;
  border: none;
  color: #ebeced;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  width: 96%;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.details-container {
  background-color: #ebeced;
  border-radius: 25px;
  padding: 5px;
}

.prevent-overflow {
  word-wrap: break-word;
}
